
body{
    background-color: black;
}
.title{
    font-size: 6vw;
    margin: 0;
}
section{
    width: 100%;
}
.underline{
    transition: border .2s;
}
 .underline:hover{
    border-bottom: 2px solid white;
 }
.actived{
    border-bottom: 2px solid white;
}

.title-text{
    margin: 20rem  0 0 ;
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #dddddd;
}
::-webkit-scrollbar-thumb{
    background: #d00000;
}
.bg-1{
    background-color: #d00000;
    color: white;
}
.bg-1:hover{
    background-color: #d00000;
    color: white;
}
.text-1{
    color: #ffba08;
}

.header{
    width: 100%;
    background: center/cover url("../img/pexels-bea-dela-cruz-12594202.jpg");
    height: 100vh;
    background-repeat: no-repeat;
}

.imagecard{
    margin: 0;
    background-image: url("../img/torta.jpg");
    width: 50%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    box-sizing: border-box;

}
.about-us{
    margin-top: 8rem;
    margin-bottom: 5rem;
    border-radius: 5%;
}
.contact-us{
    /* margin-top: 8rem;
    margin-bottom: 5rem; */
    border-radius: 5%;
}
/* .contactimagecard{
    margin: 0;
    background-image: url("../img/alexander-andrews-JYGnB9gTCls-unsplash.jpg");
    width: 50%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    box-sizing: border-box;
} */
.card-width{
    width: 18rem;
}
.img-height{
    height: 20vh;
    object-fit: cover;
}
.card{
    transition: background-color .2s;
}
.card:hover{
    background-color: white;
    color: black;
}

.recipe-img{
    border: 1px solid white;
    border-radius: 5%;
}





/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #d00000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.fa-arrow-left{
    color: white;
}
#back-button:hover{
    color: #d00000;
}
@media only screen and (max-width: 576px) and (min-width: 0) {
    .title{
        font-size: 2rem;
    }
    .carousel{
        display: none;
    }
    .title-text{
        margin: 10rem  0 0 ;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
    }
    
}